HistoryDeepResearch/smolagents_project_root/examples/open_deep_research/output*
HistoryDeepResearch/smolagents_project_root/examples/open_deep_research/*downloads*
HistoryDeepResearch/smolagents_project_root/examples/open_deep_research/Historical